@media screen {
	* {
		
	}
	body {
		margin: 0 auto;
		padding: 0;
		color: #181910;
		background-color: #A5BD4C;
		background-image: url('images/page_t.jpg');
		background-repeat: repeat;
		background-attachment: scroll;
		background-position: center center;
	}
	h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover
h1 a:visited,h2 a:visited,h3 a:visited,h4 a:visited,h5 a:visited,h6 a:visited,.art-postheader,.art-postheader a,.art-postheader a:link,.art-postheader a:visited,.art-postheader a:hover,.art-blockheader .t,.art-vmenublockheader .t,.art-logo-text,.art-logo-text a,h1.art-logo-name,h1.art-logo-name a,h1.art-logo-name a:link,h1.art-logo-name a:visited,h1.art-logo-name a:hover
		{
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
		font-size: 24px;
		text-align: left;
		letter-spacing: 3px;
	}
	a,.art-post li a {
		text-decoration: underline;
		color: #000000;
	}
	a:link,.art-post li a:link {
		text-decoration: underline;
		color: #000000;
	}
	a:visited,a.visited,.art-post li a:visited,.art-post li a.visited {
		color: #686C47;
	}
	a:hover,a.hover,.art-post li a:hover,.art-post li a.hover {
		text-decoration: none;
		color: #818F00;
	}
	h1,h1 a,h1 a:link,h1 a:visited,h1 a:hover {
		margin: 0.67em 0;
		color: #718230;
	}
	h2,h2 a,h2 a:link,h2 a:visited,h2 a:hover {
		margin: 0.8em 0;
		font-size: 22px;
		letter-spacing: 2px;
		color: #94AB3F;
	}
	h3,h3 a,h3 a:link,h3 a:visited,h3 a:hover {
		margin: 1em 0;
		font-size: 20px;
		letter-spacing: 2px;
		color: #686C47;
	}
	h4,h4 a,h4 a:link,h4 a:visited,h4 a:hover {
		margin: 1.25em 0;
		font-size: 15px;
		letter-spacing: 2px;
		color: #181910;
	}
	h5,h5 a,h5 a:link,h5 a:visited,h5 a:hover {
		margin: 1.67em 0;
		font-size: 13px;
		letter-spacing: 2px;
		color: #181910;
	}
	h6,h6 a,h6 a:link,h6 a:visited,h6 a:hover {
		margin: 2.33em 0;
		font-size: 13px;
		letter-spacing: 2px;
		color: #181910;
	}
	h1 a,h1 a:link,h1 a:visited,h1 a:hover,h2 a,h2 a:link,h2 a:visited,h2 a:hover,h3 a,h3 a:link,h3 a:visited,h3 a:hover,h4 a,h4 a:link,h4 a:visited,h4 a:hover,h5 a,h5 a:link,h5 a:visited,h5 a:hover,h6 a,h6 a:link,h6 a:visited,h6 a:hover
		{
		margin: 0;
	}
	#wrapper {

		margin: 0 auto;
		margin-top: 40px;
		width: 898px;
		background-color: #FFF;
		border-width: 1px;
		border: 1px solid #B5B893; border-top-left-radius : 25px;
		border-top-right-radius: 25px;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
		border-top-left-radius: 25px;
	}
	#content {
		padding-top: 10px;
		/*
		border: 1px solid #E7E7E7;
		border-left-color: #D3D3D3;
		border-right-color: #D3D3D3;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		*/
		padding: 10px;
		margin: 10px;
	}
	#header {
		margin: 0 auto;
		width: 898px;
		height: 200px;
		background-image: url('images/header.jpg');
		background-repeat: no-repeat;
		background-position: center center;
	}
	#top {
		
		width: 100%;
		height:39px;
	}
	#navigation {
		
	}
	table {
		padding: 0;
		border-collapse: collapse;
		border: 1px #888 solid;
		box-shadow: 3px 3px 3px #666;
		border-radius: 8px 8px 0 0;
		border-style: hidden;
		margin: 0 auto;
	}
	thead,tfoot {
		font-family: Georgia, "Times New Roman", Times, serif;
	}
	thead {
		font-size: 1.2em;
		background: #bfd255; /* Old browsers */
		background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d
			100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfd255),
			color-stop(50%, #8eb92a), color-stop(51%, #72aa00),
			color-stop(100%, #9ecb2d) ); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%,
			#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d
			100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d
			100%); /* IE10+ */
		background: linear-gradient(to bottom, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d
			100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient(         startColorstr='#bfd255',
			endColorstr='#9ecb2d', GradientType=0 ); /* IE6-9 */
		color: #efefef;
		border-bottom: 1px #003300 solid;
	}
	tfoot {
		background: #888;
		color: #efefef;
	}
	tfoot td {
		padding-bottom: 8px;
	}
	tr:nth-child(2n) {
		background: #E9FC9F;
	}
	thead th {
		padding: 0.3em 0.5em;
	}
	td,th {
		padding: 4px 8px;
		text-align: center;
	}
	th:first-child {
		border-top-left-radius: 8px;
	}
	th:last-child {
		border-top-right-radius: 8px;
	}
	h1 {
		font-size: 20pt;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
			"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		color: red;
		float: centre;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		padding-top: 20px;
	}
	.article {
		border: 1px solid #E7E7E7;
		border-left-color: #D3D3D3;
		border-right-color: #D3D3D3;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		padding: 10px;
		margin: 10px;
	}
	.article_head {
		
	}
	.article_title {
		
	}
	.article_content {
		
	}
}