@media screen
		{
			* {	margin:0; padding:0;}
			
			h1
			{
			font-size:20pt;
			font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
			color:red;
		
			}
			
		
		
		
			
			
			
		}